body {
  background-image: url(./image/vista-rio-de-janeiro-rj.jpg);
  background-position: center;
  background-size: cover;
}

canvas {
  border: 1px solid red;
}

body div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.zaque {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.zaqueesusamigos {
  display: flex;
}

.zaque img {
  width: 250px;
  height: 250px;
}

.paragrafo {
  background-color: #870007;
  padding: 3px 10px;
  border-radius: 5%;
}

body button {
  font-size: 30px;
  background-color: #870007;
  color: #fff;
  padding: 20px 40px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-bottom: 20px;
}

.zaque p {
  font-size: 20px;
  color: white;
}

.divcanva {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.game-board {
  position: relative;
  background-image: url(./image/playa2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.divbot {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10%;
  width: 20px;
}

.divbot button {
  padding: 5px 40px;
}
